/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;
    background-color:dimgray;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0 auto;
}

p {
    color:aliceblue;
}

article {
    text-align: center;
    margin: 0 auto;
    background-color:rgb(46, 44, 44);
    width: 70%;
}   

section {
    text-align: center;
    background-color:rgb(46, 44, 44);
}

a {
    color: white;
    margin: 25px;
    text-decoration: none;
}

h1, h2, p {
    margin: 0;
    padding: 10px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: sans-serif;
    color:aliceblue;
    text-align: center;
}

h2{
    font-weight: 700;
    line-height: 1.2;
    font-family: sans-serif;
    color:aliceblue;
    text-align: center;
}