.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  overflow: hidden;
  border: 1px solid #ccc;
}

.chat-icon-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 120px;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}


.chat-header {
  background-color: #000000;
  color: white;
  padding: 15px;
  position: relative;         
  display: flex;
  justify-content: center;
  align-items: center;
}


.chat-header h3 {
  margin: 0; 
}

.close-button {
  position: absolute;
  right: 10px;
  background: none;
  font-size: 1.5rem;
}

.messages-area {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.message-bubble {
  max-width: 80%;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.message-bubble {
  align-self: flex-start;
  background-color: #e9ecef;
  color: #333;
  border-bottom-left-radius: 2px;
}

.message-bubble.user {
  align-self: flex-end;
  background-color: #000000;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 2px;
}

.input-area {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  gap: 10px;
  scroll-behavior: auto;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 8px 15px;
  background-color: #04162b7e;
  color: white;
  border: none;
  border-radius: 4px;   
  cursor: pointer;
}

button:hover {
  background-color: #fcfcfc;
}


@media (max-width: 400px) {
  .chat-container {
    width: 90%;
    height: 400px;
    bottom: 10px;
    right: 5%;
  }
  .chat-icon-image {
    width: 80px;
    height: 80px;
    bottom: 10px;
    right: 5%;
    position: fixed;
    background-color: #000000;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }
} 
