<div class="chat-container">
  
  <div class="chat-header">
    <h3>Asistente Virtual </h3>
  </div>

  <div class="messages-area">
    
    @for (msg of messages; track $index) {
      <div class="message-bubble" [class.user]="msg.role === 'user'">
        <strong>{{ msg.role === 'user' ? 'Yo' : 'Botsito Aros' }}:</strong>
        <p>{{ msg.text }}</p>
      </div>
    }

    @if (isLoading) {
      <div class="message-bubble bot loading">
        Escribiendo...
      </div>
    }

  </div>

  <div class="input-area">
    <input 
      [(ngModel)]="userMessage" 
      (keydown.enter)="sendMessage()"
      placeholder="Escribe tu idea aquí..." 
      type="text"
    />
    <button (click)="sendMessage()">Enviar</button>
  </div>

</div>