.top-bar {
    display: flex;
    align-items: center;
    background-color: var(--surface);
    border-bottom: 1px solid #23252a;
    padding: 10px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    height: 40px;
    width: auto;
    margin: 0;
}

nav {
    margin: auto;
}

@media (max-width: 600px) {
    .top-bar {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .logo {
        height: 3rem;
        width: auto;
        margin: 0;
        display: block;
    }

    nav {
        margin-top: 0;
        margin-left: 16px;
        display: flex;
        align-items: center;
    }

    nav a {
        margin-left: 5px;
    }
}